---
layout: base.njk
---
<article class="about">
	<div class="about-main">
		<div class="about-bio">{{ bio | md | safe }}</div>
		<div class="about-team">{{ team | md | safe }}</div>
	</div>
</article>
