<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if title %}{{ title }} — {% endif %}{{ site.title }}</title>
		{% if description %}<meta name="description" content="{{ description }}">{% endif %}
	</head>
	<body>
		<main class="page">{{ content | safe }}</main>
	</body>
</html>
