---
layout: base.njk
title: Página no encontrada
permalink: /404.html
eleventyExcludeFromCollections: true
---
<article class="project">
	<header class="project-header">
		<div class="project-header__title">404</div>
		<div></div>
		<div></div>
	</header>
	<div class="project-main">
		<div class="project-body">
			<p>La página que buscas no existe.</p>
			<p><a href="{{ '/' | url }}">Volver al inicio</a></p>
		</div>
	</div>
</article>
